@using GPS.Models.Home
@{
    List<LogMonitoring> ListLog = ViewData["ListLog"] != null ? (List<LogMonitoring>)ViewData["ListLog"] : new List<LogMonitoring>();
}

<style type="text/css">
    .close 
    {
        opacity: 1;    
    }
</style>

<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: 98.5%; overflow: hidden;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%; max-width: 100% !important;">
                    <thead>
                        <tr>
                            <th width="50px">No</th>
                            <th width="110px">Process ID</th>
                            <th width="250px">Function Name</th>
                            <th width="200px">Start Date Time</th>
                            <th width="200px">End Date Time</th>
                            <th width="150px">Status</th>
                            <th width="170px">User ID</th>    
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tScrollBody" style="overflow: scroll; height: 300px;">
                <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%; max-width: 100% !important;">
                    <tbody>
                       @{
                            if (ListLog.Count > 0)
                            {
                                foreach (LogMonitoring item in ListLog)
                                {
                                <tr>
                                    <td class="text-center" width="50px">@item.Number</td> 
                                    <td class="text-center" width="110px"><a href="javascript:OnDetail(@item.ProcessId)">@item.ProcessId</a></td> 
                                    <td class="text-left" width="250px">@item.FunctionName</td> 
                                    <td class="text-center" width="200px">@item.StartDt</td> 
                                    <td class="text-center" width="200px">@item.EndDt</td> 
                                    <td class="text-left" width="150px">@item.ProcessStatus : @item.StatusValue</td> 
                                    <td class="text-left" width="170px">@item.CreatedBy</td> 
                                </tr>  
                                }
                            }
                            else
                            {
                            <tr>
                                <td colspan="7" class="text-center">
                                    No data retrieved.
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td class="col-xs-8 listdata">
                                @Html.Partial("_Paging")
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $("#tScrollBody").scroll(function () {
        $("#tScrollHead").scrollLeft($("#tScrollBody").scrollLeft());
    });

    var table = document.getElementById("dynamic-table");
    if (table != null) {
        for (var i = 0; i < table.rows.length; i++) {
            for (var j = 0; j < table.rows[i].cells.length; j++) {
                table.rows[i].cells[j].onclick = function () {
                    tableText(this);
                    sorting_execute = '1';
                };
            }
        }
    }

    function tableText(tableCell) {
        var removeClass;
        var addClass;
        var dataSort;

        if (tableCell.getAttribute("class").indexOf('sorting') >= 0) {
            if (tableCell.getAttribute("class").indexOf('sorting_asc') >= 0) {
                removeClass = 'sorting_asc';
                addClass = 'sorting_desc';
                dataSort = 'desc';
            } else if (tableCell.getAttribute("class").indexOf('sorting_desc') >= 0) {
                removeClass = 'sorting_desc';
                addClass = 'sorting_none';
                dataSort = 'none';
            } else {
                removeClass = 'sorting_none';
                addClass = 'sorting_asc';
                dataSort = 'asc';
            }
        }

        //reset all
        var tableReset = document.getElementById("dynamic-table");
        if (tableReset != null) {
            for (var i = 0; i < tableReset.rows.length; i++) {
                for (var j = 0; j < tableReset.rows[i].cells.length; j++) {

                    if (tableReset.rows[i].cells[j].className.indexOf('sorting_asc') >= 0) {
                        tableReset.rows[i].cells[j].classList.remove('sorting_asc');
                        tableReset.rows[i].cells[j].classList.add('sorting');
                        tableReset.rows[i].cells[j].dataset.sort = 'none';
                    }

                    if (tableReset.rows[i].cells[j].className.indexOf('sorting_desc') >= 0) {
                        tableReset.rows[i].cells[j].classList.remove('sorting_desc');
                        tableReset.rows[i].cells[j].classList.add('sorting');
                        tableReset.rows[i].cells[j].dataset.sort = 'none';
                    }

                }
            }
        }

        if (tableCell.getAttribute("class").indexOf('sorting') >= 0) {
            tableCell.classList.remove(removeClass);
            tableCell.classList.add(addClass);
            tableCell.dataset.sort = dataSort;

            $.ajax({
                type: "GET",
                url: '@Html.Toyota().Page.GetActionUrl("GetPRInquirySort")',
                data: {
                    field: tableCell.dataset.field,
                    sort: dataSort
                },
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $("#tblScroll")
                            .find('tbody')
                            .html(
                                result
                            );
                }
            });
        }
    }


</script>