@using GPS.Models.PRPOApproval
@using GPS.CommonFunc
@using GPS.Core.ViewModel
@using GPS.Constants
@using GPS.Constants.PRPOApproval
@{
    List<POApproval> poApprovalList = (List<POApproval>)ViewData["POApproval"];
}

@if (poApprovalList.Count > 0)
{
    foreach (POApproval item in poApprovalList)
    {
        <tr>
            <td class="text-center" width="20px"><input id="chk-approval-@item.DataNo" data-docno="@item.DocNo" data-doctype="PO" type="checkbox" /></td>
            <td class="text-center" style="vertical-align:middle;" width="20px">
                @if (item.UrgentDoc == "Y")
                {
                    <img src="@Url.Content("~/Content/img/alert_16.png")" />
                }
            </td>
            <td class="text-center" style="vertical-align:middle;" width="20px">
                @if (item.IsHaveAttachment)
                {
                    <i class="fa fa-paperclip"></i>
                }
            </td>
            <td class="text-center" width="70px">
                <a id="lnk-docno-@item.DataNo" href="javascript:void(0)" data-embedded="@item.AsEmbeddedData()">@item.DocNo</a>
            </td>
            <td class="text-left" width="180px">@item.DocDesc</td>
            <td class="text-center" width="65px">@item.DocDate.ToStandardFormat()</td>
            @if (item.DD_STATUS == "1")
            {
                <td class="text-left" width="250px" style="background-color:red">@item.Vendor</td>
            }
            else if (item.DD_STATUS == "2")
            {
                <td class="text-left" width="250px" style="background-color:yellow">@item.Vendor</td>
            }
            else if (item.DD_STATUS == "3")
            {
                <td class="text-left" width="250px" style="background-color:lawngreen">@item.Vendor</td>
            }
            else if (item.DD_STATUS == "4")
            {
                <td class="text-left" width="250px">@item.Vendor</td>
            }
            else
            {
                <td class="text-left" width="250px" style="background-color:grey">@item.Vendor</td>
            }

            <td class="text-center" width="30px">@item.Currency</td>
            <td class="text-right" width="80px">@item.Amount.ToStandardFormat()</td>
            <td class="text-left" width="90px">@item.Status</td>
            <td class="text-center" width="60px">@item.PurchasingGroup</td>
            <td class="text-center" width="100px">@item.GovRelate</td>
            
            <td class="_toggle-detail text-left" width="100px">@item.CreatedBy</td>
            <td class="_toggle-detail text-center" width="165px">@item.CreatedDate.ToStandardFormatWithTime()</td>
            <td class="_toggle-detail text-left" width="100px">@item.ChangedBy</td>
            <td class="_toggle-detail text-center" width="165px">@item.ChangedDate.ToStandardFormatWithTime()</td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="16" class="text-center">@CommonDisplayMessage.NoData</td>
    </tr>
}

<script>
    $("[id^=chk-approval-]", "#table-@PRPOApprovalPage.POApprovalGrid").change(function (e) {
        headerSelectionMode = $("#header-selection-mode").val();
        docNoCount = parseInt($("#docno-count-value").val(), 10);
        docNoList = $("#docno-list-value").val();

        if (this.checked) {
            switch (headerSelectionMode.toUpperCase()) {
                case "INC":
                    //docNoList = docNoList + $(this).data("docno") + "|" + $(this).data("doctype") + "|" + headerSelectionMode + "|;";
                    docNoList = docNoList + $(this).data("docno") + ",";
                    docNoCount = docNoCount + 1;
                    break;
                case "EXC":
                    //docNoList = docNoList.replace($(this).data("docno") + "|" + $(this).data("doctype") + "|" + headerSelectionMode + "|;", "");
                    docNoList = docNoList.replace($(this).data("docno") + ",", "");
                    docNoCount = docNoCount + 1;
                    break;
            }
        }
        else {
            switch (headerSelectionMode.toUpperCase()) {
                case "EXC":
                    //docNoList = docNoList + $(this).data("docno") + "|" + $(this).data("doctype") + "|" + headerSelectionMode + "|;";
                    docNoList = docNoList + $(this).data("docno") + ",";
                    docNoCount = docNoCount - 1;
                    break;
                case "INC":
                    //docNoList = docNoList.replace($(this).data("docno") + "|" + $(this).data("doctype") + "|" + headerSelectionMode + "|;", "");
                    docNoList = docNoList.replace($(this).data("docno") + ",", "");
                    docNoCount = docNoCount - 1;
                    break;
            }
        }

        $("#header-selection-mode").val(headerSelectionMode);
        $("#docno-count-value").val(docNoCount);
        $("#docno-list-value").val(docNoList);

        bindHeaderCheck();
        removeDetailMainList($(this).data("docno"));
    });

    $("[id^=lnk-docno-]").click(function (e) {
        e.preventDefault();

        var embedded = $(this).data("embedded");
        docNo = embedded.DocNo;
        userType = $("#cmb-usertype").val();
        docDt = embedded.DocDateString;
        docDesc = embedded.DocDesc;
        divisionName = $(this).data("divisionname");

        itemNum = embedded.DataNo;
        var isChecked = $("#chk-approval-" + itemNum).prop("checked");
        if (isChecked) {
            detailSelectionMode = "EXC";
            docItemNoCount = 0;
            docItemNoList = "";
        }
        else {
            docItemNoMainList = $("#docitemno-main-list-value").val();

            var docItemNoIndex = docItemNoMainList.indexOf(docNo);
            if (docItemNoIndex != -1) {
                var delimitterIndex = docItemNoMainList.indexOf(";", docItemNoIndex);
                var docItemNo = docItemNoMainList.substring(docItemNoIndex, delimitterIndex);
                detailSelectionMode = docItemNo.split("|")[2];
                docItemNoList = docItemNo + ";";
                if (docItemNo.indexOf(",") != -1) {
                    docItemNoCount = docItemNo.split("|")[3].split(",").length - 1;
                }
                else {
                    docItemNoCount = 0;
                }
            }
            else {
                detailSelectionMode = "INC";
                docItemNoCount = 0;
                docItemNoList = "";
            }
        }

        $("#detail-selection-mode").val(detailSelectionMode);
        $("#docitemno-list-value").val(docItemNoList);
        $("#docitemno-count-value").val(docItemNoCount);
        
        OpenPOApprovalDetail(undefined, undefined, undefined, function (data) {
            if (!data.ResponseType) {
                $("#popup-container").html(data);
                $("#popup-container").modal();

                if (isChecked) $("#chk-approval-" + itemNum).trigger("click");
            }
            else {
                $.messagebox.show("@ActionResponseViewModel.Error", data.Message, data.ResponseType);
            }
        });
    });
</script>