@using GPS.Models.Home
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    LogMonitoringDetail LogHeader = ViewData["LogHeader"] != null ? (LogMonitoringDetail)ViewData["LogHeader"] : new LogMonitoringDetail();
}

<div class="hidden-xs">
    @Html.Partial("_PartialScript")

    <form role="form" class="form-horizontal" id="searchForm" method="post" action="javascript: onGetData(1)">
        <div class="row">    
           <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-12 col-sm-5 col-md-3 control-label text-muted">
                        Process Date</label>
                    <div class="col-xs-12 col-sm-3 col-md-4">
                        <input type="text" id="txtProcDateFrom" class="form-control" disabled ="disabled" value="@LogHeader.StartDt"/>
                    </div>
                    <label class="col-xs-12 col-sm-1 col-md-1 control-label text-muted">To</label>
                    <div class="col-xs-12 col-sm-3 col-md-4">
                        <input type="text" id="txtProcDateTo" class="form-control" disabled ="disabled" value="@LogHeader.EndDt"/>
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-12 col-sm-6 col-md-3 control-label text-muted">
                        Function Name</label>
                    <div class="col-xs-12 col-sm-6 col-md-9">
                         <input type="text" id="txtFunctionName" class="form-control" disabled ="disabled" value="@LogHeader.FunctionName"/>
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-12 col-sm-6 col-md-3 control-label text-muted">
                        Process ID</label>
                    <div class="col-xs-12 col-sm-6 col-md-9">
                         <input type="text" id="txtProcessId" class="form-control" disabled ="disabled" value="@LogHeader.ProcessId"/>
                    </div>
                </div>
            </div>
           <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-12 col-sm-6 col-md-4 control-label text-muted">
                        Status</label>
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <input type="text" id="txtStatus" class="form-control" disabled ="disabled" value="@LogHeader.Status : @LogHeader.StatusValue"/>
                    </div>
                </div>
               <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-12 col-sm-6 col-md-4 control-label text-muted">
                          User</label>
                    <div class="input-group input-group-xs col-xs-12 col-sm-6 col-md-8" style="padding-left: 11px;padding-right: 11px; height: 26px;"> 
                        <input type="text" id="txtUser" class="form-control" disabled ="disabled" value="@LogHeader.CreatedBy"/>           
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="text-center" style="margin-bottom: 3px;">
        <hr id="hrsrc" style="margin: 0; padding: 0;" />       
    </div>
    <div id="divtable">
        @Html.Partial("_Grid")
    </div>
</div>

<div class="visible-xs"></div>          