@using GPS.CommonFunc
@using GPS.Controllers.Master
@using GPS.Models.Master
@{
    MasterAgreement data = ViewData["MasterAgreementData"] == null ? new MasterAgreement() : (MasterAgreement)ViewData["MasterAgreementData"];
    string edit = (string)ViewData["edit"];
    string AddMonth = (string)ViewData["DOC_STS"];
    string title = " Master Agreement";
    if (edit == "1")
    {
        title = "Edit" + title;
    }
    else
    {
        title = "Add" + title;
    }
    Html.Hidden("AddMonth");
}

<div class="modal-dialog" style="width:600px">
    <form method="post" action="javascript: onSaveData();">
        <div class="modal-content">
            <div class="modal-header">
                <div>@title</div>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtEdit" value="@edit" />
                <div class="form-horizontal">

                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Vendor Code</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    @if (edit == "1")
                                    {

                                        @Html.DropDownList("cmb-vendorcode", VendorController.VendorSelectList, new { tabindex = "1", @class = "form-control", Enabled = false })
                                    }
                                    else
                                    {
                                        @Html.DropDownList("cmb-vendorcode", VendorController.VendorSelectList, new { tabindex = "1", @class = "form-control"})
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Vendor Name</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <input type="text" id="txtedit-vendornm" class="form-control" maxlength="50" autocomplete="off" disabled value="@data.VENDOR_NAME" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Purchasing Group</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <input type="text" id="txtedit-purchasinggrp" class="form-control" maxlength="50" value="@data.PURCHASING_GROUP" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Buyer</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <input type="text" id="txtedit-buyer" class="form-control" maxlength="50" value="@data.BUYER" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Agreement No</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <input type="text" id="txtedit-agreementno" class="form-control" maxlength="50" value="@data.AGREEMENT_NO" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Amount</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <input type="text" id="txtedit-amount" class="form-control" maxlength="50" value="@data.AMOUNT" autocomplete="off" onkeypress="return isNumberKey(event)"/>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Start Date</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <div class="input-group" style="cursor: pointer;">
                                        <input class="form-control date-picker" type="text" name="date-range-picker" id="txtedit-startdate" data-date-format="dd.mm.yyyy" value="@data.START_DATE" autocomplete="off" />
                                        <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Expired Date</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <div class="input-group" style="cursor: pointer;">
                                        <input class="form-control date-picker" type="text" name="date-range-picker" id="txtedit-expdate" data-date-format="dd.mm.yyyy" value="@data.EXP_DATE" autocomplete="off" />
                                        <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* date *@

                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Status</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    @*@Html.DropDownList("cmbedit-status", MasterAgreementController.GetStatusList(), new { @class = "cursor-1", @style = "width:100%;" })*@
                                    <input type="text" id="txtedit-status" class="form-control" maxlength="50" value="@data.STATUS" autocomplete="off" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted ">Next Action</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <input type="text" id="txtedit-nextaction" class="form-control" value="@data.NEXT_ACTION" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Attachement Master Agreement</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <input type="file" id="upload-anFiles" name="upload-anFiles" class="form-control"><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 text-right">
                    <div class="form-group-xs">
                        <button type="submit" class="btn btn-primary btn-xs btn-std"> Save </button>
                        <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#AddMonth").val('@AddMonth');
        $("#txtedit-startdate").todatepicker();
        $("#txtedit-expdate").todatepicker();
        ////$("#cmbedit-status").val("@data.STATUS");
        $("#cmb-vendorcode").val("@data.VENDOR_CODE");

     

        $("#cmb-vendorcode").change(function () {
            var vendor = $(this).val();
            $.support.cors = true;
            $.ajax({
                type: "POST",
                url: "/MasterDueDilligence/GetVendorOnChange",
                async: true,
                data: JSON.stringify({ vendor }),
                cache: false,
                crossDomain: true,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                error: function (xhr, err) {
                },
                success: function (result) {
                    $('#txtedit-vendornm').val(result.VENDOR_NAME);
                }
            });
        });

        $("#txtedit-expdate").change(function () {
            var expdate = $("#txtedit-expdate").val();
            var getdate = new Date().toISOString();

            var newDatePlus3Month = null;
            var expDateFromArray = null;

            newDatePlus3Month = addMonths(new Date, 3);

            const myArray = expdate.split(".");
            expDateFromArray = myArray[2] + '-' + myArray[1] + '-' + myArray[0] + 'T00:00:00.000Z'

            if (!expdate) {
                $("#txtedit-status").val('2 - On Progress');
            }  else if (expDateFromArray >= newDatePlus3Month.toISOString()) {
                $("#txtedit-status").val('1 - Finished');
            }  else if (expDateFromArray >= getdate && expDateFromArray <= newDatePlus3Month.toISOString()) {
                $("#txtedit-status").val('3 - Expired Soon');
            } else {
                $("#txtedit-status").val('4 - Expired');
            }
        });

        function addMonths(date, months) {

            date.setMonth(date.getMonth() + months);
            return date;
        }

        function addOneYear(date) {
            const dateCopy = new Date(date);
            dateCopy.setFullYear(dateCopy.getFullYear() + 1);
            return dateCopy;
        }
        function addTwoYear(date) {
            const dateCopy = new Date(date);
            dateCopy.setFullYear(dateCopy.getFullYear() + 2);
            return dateCopy;
        }
        function addThreeYear(date) {
            const dateCopy = new Date(date);
            dateCopy.setFullYear(dateCopy.getFullYear() + 3);
            return dateCopy;
        }
    });
</script>


