@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
._criteria {
            display:none;
        }
</style>
<div>

    @Html.Partial("_PartialScript")
    @Html.Partial("_SearchCriteria")
    @Html.Partial("_Message")     
    <div class="text-center" style="margin-bottom: 3px;">
        <hr id="hrsrc" style="margin: 0; padding: 0;" />       
    </div>
    <div id="divtable">
        @Html.Partial("_Grid")
    </div>
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
         @Html.Partial("_AddEditPopUp")        
    </div>
</div>

  

           
