@using GPS.CommonFunc
@using GPS.Controllers.Master
@using GPS.Models.Master
@{
    MasterDueDilligence data = ViewData["MasterDueDilligenceData"] == null ? new MasterDueDilligence() : (MasterDueDilligence)ViewData["MasterDueDilligenceData"];
    string RegNo = ViewData["REG_NO"] == null ? "" : (string)ViewData["REG_NO"];


    string edit = (string)ViewData["edit"];
    string title = " Master Due Dilligence";
    if (edit == "1")
    {
        title = "Edit" + title;
    }
    else
    {
        title = "Add" + title;
    }
}

<div class="modal-dialog" style="width:800px">
    <form method="post" action="javascript: onSaveData();">
        <div class="modal-content">
            <div class="modal-header">
                <div>@title</div>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtEdit" value="@edit" />
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Vendor Code</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <input type="text" id="txtedit-vendorcd" class="form-control mandatory" maxlength="10" autocomplete="off" value="@data.VENDOR_CODE" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Vendor Plant</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    @Html.DropDownList("cmbedit-plan", MasterDueDilligenceController.PlantSelectList(), new { @class = "cursor-1", @style = "width:100%;" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Vendor Name</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <input type="text" id="txtedit-vendornm" class="form-control mandatory" maxlength="50" autocomplete="off" value="@data.VENDOR_NAME" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Due Dilligence Status</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    @Html.DropDownList("cmbedit-status", MasterDueDilligenceController.GetStatusList(), new { @class = "cursor-1", @style = "width:100%;" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Due Dilligence From</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <div class="input-group" style="cursor: pointer;">
                                        <input class="form-control date-picker" type="text" name="date-range-picker" id="txtedit-vldddfrom" data-date-format="dd.mm.yyyy" autocomplete="off" value="@data.VALID_DD_FROM" />
                                        <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Due Dilligence To</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <div class="input-group" style="cursor: pointer;">
                                        <input class="form-control date-picker" type="text" name="date-range-picker" id="txtedit-vldddto" data-date-format="dd.mm.yyyy"  autocomplete="off" value="@data.VALID_DD_TO" />
                                        <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted ">Agreement No</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <input type="text" id="txtedit-agreementno" class="form-control mandatory" autocomplete="off" value="@data.AGREEMENT_NO" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Valid Agreement From</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <div class="input-group" style="cursor: pointer;">
                                        <input class="form-control date-picker" type="text" name="date-range-picker" id="txtedit-vldagreementfrom" data-date-format="dd.mm.yyyy"  autocomplete="off" value="@data.VALID_AGREEMENT_NO_FROM" />
                                        <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group form-group-xs">
                                <div class="col-xs-5 col-sm-4 text-right">
                                    <label class="control-label text-muted">Valid Agreement To</label>
                                </div>
                                <div class="col-xs-7 col-sm-8">
                                    <div class="input-group" style="cursor: pointer;">
                                        <input class="form-control date-picker" type="text" name="date-range-picker" id="txtedit-vldagreementto" data-date-format="dd.mm.yyyy" autocomplete="off" value="@data.VALID_AGREEMENT_NO_TO" />
                                        <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 text-right">
                    <div class="form-group-xs">
                        <button type="submit" class="btn btn-primary btn-xs btn-std"> Save </button>
                        <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtedit-vldddfrom").todatepicker();
        $("#txtedit-vldddto").todatepicker();
        $("#txtedit-vldagreementfrom").todatepicker();
        $("#txtedit-vldagreementto").todatepicker();
        $("#cmbedit-status").val("@data.DD_STATUS");
        $("#cmbedit-plan").val("@data.VENDOR_PLANT");
    });
</script>


