@using GPS.Constants;
@using GPS.Models.PR.PRStatusMonitoring;
@using MvcApplication1.Helpers;
@{
    string errormessage = ViewData["Message"] != null ? ViewData["Message"].ToString() : String.Empty;

    List<PRStatusMonitoring> GridData = ViewData["GridData"] != null ?
                            (List<PRStatusMonitoring>)ViewData["GridData"] :
                            new List<PRStatusMonitoring>();
}

<table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed" style="width: 1980px; /*max-width: 1388px;*/">
    <tbody>
        @if (GridData.Count > 0)
        {
            foreach (var item in GridData)
            {
                <tr>
                    <td class="text-center" width="50px" style="min-width:50px;">@item.NO</td>
                    @if (item.SIMILAR_PR_ROW == 0)
                    {
                        <td width="70px" style="min-width:70px;">@item.PR_NO</td>
                        <td class="text-center" width="50px" style="min-width:50px;"> @int.Parse(item.PR_ITEM_NO)</td>
                        <td width="200px" style="min-width:200px;">@(item.MAT_DESC.Length>28?item.MAT_DESC.Substring(0, 28) +" ...":item.MAT_DESC)</td>
                        <td class="" width="160px" style="min-width:160px;">@item.WBS_NO</td>
                        <td class="text border5" width="100px" style="min-width:100px;">@item.PR_STATUS_DESC</td>
                        @*<td class="text-center" width="50px" style="min-width:50px;">@item.PR_QTY_REMAIN.ToString("G29")</td>*@
                        <td width="130px" style="min-width:130px;">@item.PR_CREATED_BY</td>
                        <td class="text-center" width="45px" style="min-width:45px;">
                            @Html.Raw(HTMLHelper.LabelDate(item.PR_CREATED_DATE))
                        </td>
                        <td class="text-center @(item.i_SH_PLANNING=="RED"?"bg-red":(item.i_SH_PLANNING=="GREEN"? "bg-green" : ""))" width="45px" style="min-width:45px;">
                            @(item.i_SH_INTERVAL >= 0 ?
                            (item.i_SH_DATE == DateTime.MinValue && item.i_SH_DELAY > 0) ?
                            Html.Raw(HTMLHelper.LabelDate(item.i_SH_DELAY, item.i_SH_PLANNING))
                            :
                            Html.Raw(HTMLHelper.LabelDate(item.i_SH_DATE, item.i_SH_PLANNING))
                            : new HtmlString("<div style='color: #cfcfcf;'>x</div>"))
                        </td>
                        <td class="text-center @(item.i_DPH_PLANNING=="RED"?"bg-red":(item.i_DPH_PLANNING=="GREEN"? "bg-green" : ""))" width="45px" style="min-width:45px;">
                            @(item.i_DPH_INTERVAL >= 0 ?
                            (item.i_DPH_DATE == DateTime.MinValue && item.i_DPH_DELAY > 0) ?
                            Html.Raw(HTMLHelper.LabelDate(item.i_DPH_DELAY, item.i_DPH_PLANNING))
                            :
                            Html.Raw(HTMLHelper.LabelDate(item.i_DPH_DATE, item.i_DPH_PLANNING))
                            : new HtmlString("<div style='color: #cfcfcf;'>x</div>"))
                        </td>
                        <td class="text-center @(item.i_DH_PLANNING=="RED"?"bg-red":(item.i_DH_PLANNING=="GREEN"? "bg-green" : ""))" width="45px" style="min-width:45px;">
                            @(item.i_DH_INTERVAL >= 0 ?
                            (item.i_DH_DATE == DateTime.MinValue && item.i_DH_DELAY > 0) ?
                            Html.Raw(HTMLHelper.LabelDate(item.i_DH_DELAY, item.i_DH_PLANNING))
                            :
                            Html.Raw(HTMLHelper.LabelDate(item.i_DH_DATE, item.i_DH_PLANNING))
                            : new HtmlString("<div style='color: #cfcfcf;'>x</div>"))
                        </td>
                        <td class="text-center @(item.STAFF_PLANNING=="RED"?"bg-red":(item.STAFF_PLANNING=="GREEN"? "bg-green" : ""))" width="45px" style="min-width:45px;">
                            @(item.STAFF_INTERVAL >= 0 ?
                            (item.STAFF_DATE == DateTime.MinValue && item.STAFF_DELAY > 0) ?
                            Html.Raw(HTMLHelper.LabelDate(item.STAFF_DELAY, item.STAFF_PLANNING))
                            :
                            Html.Raw(HTMLHelper.LabelDate(item.STAFF_DATE, item.STAFF_PLANNING))
                            : new HtmlString("<div style='color: #cfcfcf;'>x</div>"))
                        </td>
                        <td class="text-center @(item.c_SH_PLANNING=="RED"?"bg-red":(item.c_SH_PLANNING=="GREEN"? "bg-green" : ""))" width="45px" style="min-width:45px;">
                            @(item.c_SH_INTERVAL >= 0 ?
                            (item.c_SH_DATE == DateTime.MinValue && item.c_SH_DELAY > 0) ?
                            Html.Raw(HTMLHelper.LabelDate(item.c_SH_DELAY, item.c_SH_PLANNING))
                            :
                            Html.Raw(HTMLHelper.LabelDate(item.c_SH_DATE, item.c_SH_PLANNING))
                            : new HtmlString("<div style='color: #cfcfcf;'>x</div>"))
                        </td>
                        <td class="text-center @(item.c_DPH_PLANNING=="RED"?"bg-red":(item.c_DPH_PLANNING=="GREEN"? "bg-green" : ""))" width="45px" style="min-width:45px;">
                            @(item.c_DPH_INTERVAL >= 0 ?
                            (item.c_DPH_DATE == DateTime.MinValue && item.c_DPH_DELAY > 0) ?
                            Html.Raw(HTMLHelper.LabelDate(item.c_DPH_DELAY, item.c_DPH_PLANNING))
                            :
                            Html.Raw(HTMLHelper.LabelDate(item.c_DPH_DATE, item.c_DPH_PLANNING))
                            : new HtmlString("<div style='color: #cfcfcf;'>x</div>"))
                        </td>
                        <td class="text-center @(item.FINANCE_PLANNING=="RED"?"bg-red":(item.FINANCE_PLANNING=="GREEN"? "bg-green" : ""))" width="45px" style="min-width:45px;">
                            @(item.FINANCE_INTERVAL >= 0 ?
                            (item.FINANCE_DATE == DateTime.MinValue && item.FINANCE_DELAY > 0) ?
                            Html.Raw(HTMLHelper.LabelDate(item.FINANCE_DELAY, item.FINANCE_PLANNING))
                            :
                            Html.Raw(HTMLHelper.LabelDate(item.FINANCE_DATE, item.FINANCE_PLANNING))
                            : new HtmlString("<div style='color: #cfcfcf;'>x</div>"))
                        </td>
                    }
                    else
                    {
                        <td width="70px" style="min-width:70px;"></td>
                        <td class="text-center" width="50px" style="min-width:50px;"> </td>
                        <td width="200px" style="min-width:200px;"></td>
                        <td class="" width="160px" style="min-width:160px;"></td>
                        <td class="text-center" width="100px" style="min-width:100px;"></td>
                        @*<td class="text-center" width="50px" style="min-width:50px;"></td>*@
                        <td width="130px" style="min-width:130px;"></td>
                        <td class="text-center" width="45px" style="min-width:45px;">
                        </td>
                        <td class="text-center" width="45px" style="min-width:45px;">
                        </td>
                        <td class="text-center" width="45px" style="min-width:45px;">
                        </td>
                        <td class="text-center" width="45px" style="min-width:45px;">
                        </td>
                        <td class="text-center" width="45px" style="min-width:45px;">
                        </td>
                        <td class="text-center" width="45px" style="min-width:45px;">
                        </td>
                        <td class="text-center" width="45px" style="min-width:45px;">
                        </td>
                        <td class="text-center" width="45px" style="min-width:45px;">
                        </td>
                    }

                    <td width="70px" class="border5" style="min-width:70px;">@item.PO_NO</td>
                    <td class="text" width="100px" style="min-width:100px;">@item.PO_STATUS_DESC</td>
                    @*<td class="text-center" width="50px" style="min-width:50px;">@(string.IsNullOrEmpty(item.PO_NO)?"":item.PO_QTY_REMAIN.ToString("G29"))</td>*@
                    <td width="130px" style="min-width:130px;">@item.PO_CREATED_BY</td>
                    <td class="text-center" width="45px" style="min-width:45px;">
                        @Html.Raw(HTMLHelper.LabelDate(item.PO_CREATED_DATE))
                    </td>
                    <td class="text-center @(item.PO_SH_PLANNING=="RED"?"bg-red":(item.PO_SH_PLANNING=="GREEN"? "bg-green" : ""))" width="45px" style="min-width:45px;">
                        @(item.PO_SH_INTERVAL >= 0 ?
                            (item.PO_SH_DATE == DateTime.MinValue && item.PO_SH_DELAY > 0) ?
                            Html.Raw(HTMLHelper.LabelDate(item.PO_SH_DELAY, item.PO_SH_PLANNING))
                            :
                            Html.Raw(HTMLHelper.LabelDate(item.PO_SH_DATE, item.PO_SH_PLANNING))
                        : new HtmlString("<div style='color: #cfcfcf;'>x</div>")
                        )
                    </td>
                    <td class="text-center @(item.PO_DPH_PLANNING=="RED"?"bg-red":(item.PO_DPH_PLANNING=="GREEN"? "bg-green" : ""))" width="45px" style="min-width:45px;">
                        @(item.PO_DPH_INTERVAL >= 0 ?
                            (item.PO_DPH_DATE == DateTime.MinValue && item.PO_DPH_DELAY > 0) ?
                            Html.Raw(HTMLHelper.LabelDate(item.PO_DPH_DELAY, item.PO_DPH_PLANNING))
                            :
                            Html.Raw(HTMLHelper.LabelDate(item.PO_DPH_DATE, item.PO_DPH_PLANNING))
                        : new HtmlString("<div style='color: #cfcfcf;'>x</div>")
                        )
                    </td>
                    <td class="text-center @(item.PO_DH_PLANNING=="RED"?"bg-red":(item.PO_DH_PLANNING=="GREEN"? "bg-green" : ""))" width="45px" style="min-width:45px;">
                        @(item.PO_DH_INTERVAL >= 0 ?
                            (item.PO_DH_DATE == DateTime.MinValue && item.PO_DH_DELAY > 0) ?
                            Html.Raw(HTMLHelper.LabelDate(item.PO_DH_DELAY, item.PO_DH_PLANNING))
                            :
                            Html.Raw(HTMLHelper.LabelDate(item.PO_DH_DATE, item.PO_DH_PLANNING))
                        : new HtmlString("<div style='color: #cfcfcf;'>x</div>")
                        )
                    </td>
                   
                    <td width="200px" style="min-width:200px;">@item.VENDOR_CD - @item.VENDOR_NAME</td>
                    <td width="120px" class="border5" style="min-width:120px;">@item.GR_NO</td>
                    <td width="130px" style="min-width:130px;">@item.GR_CREATED_BY</td>
                    <td class="text-center" width="45px" style="min-width:45px;">
                        @Html.Raw(HTMLHelper.LabelDate(item.GR_CREATED_DATE))
                    </td>
                     <td class="text-center border5" width="70px" style="min-width:70px;">@item.TOTAL_DELAY</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="17" style="text-align:center">@CommonDisplayMessage.NoData</td>
            </tr>
        }

    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        var errormessage = "@errormessage.ToHtmlString()";

        if (errormessage !== "") {
            $.messagebox.show(
                "Search PR",
                errormessage,
                "ERR",
                "SINGLE",
                "",
                ""
            )
        }

        $('[data-toggle="tooltip"]').tooltip({ placement: 'right' });
    })

</script>