@using GPS.Models.ReceivingList
@using GPS.CommonFunc
@{
    List<GRDetail> listData = ViewData["DetailData"] != null ? (List<GRDetail>)ViewData["DetailData"] : new List<GRDetail>();
}

<div class="row">
    <div class="col-xs-6 col-sm-6 text-left" style="margin-top: 10px; padding-left: 12px">
        <button type="button" class="btn btn-success btn-xs btn-std" id="ApproveButtonPopUp" onclick="javascript:doApprovePopUp()">Approve</button>
    </div>
    <div class="col-xs-6 col-sm-6 text-right" style="margin-top: 10px; padding-left: 12px">

    </div>
</div>
<br />
<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;">
        <div style="border: 1pt solid #ccc;">
            <div id="tScrollHead" style="width: 100%; overflow: scroll;">
                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%; max-width: 1803px;">
                    <thead>
                        <tr>
                            <th>Receiving Item Number</th>
                            <th>Material Number</th>
                            <th>Description</th>
                            <th>Order Qty</th>
                            <th>Receive Qty</th>
                            <th>UOM</th>
                            <th>Total Receive</th>
                            <th>PO Item Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (listData.Count > 0)
                            {
                                foreach (var item in listData)
                                {
                                    <tr>
                                        <td class="text-left">@item.MAT_DOC_ITEM_NO</td>
                                        <td class="text-left">@item.MATERIAL_NO</td>
                                        <td class="text-left">@item.MATERIAL_DESCRIPTION</td>
                                        <td class="text-right">@item.PO_QTY_ORI</td>
                                        <td class="text-right">@item.MOVEMENT_QTY</td>
                                        <td class="text-center">@item.UNIT_OF_MEASURE_CD</td>
                                        <td class="text-right">@item.GR_IR_AMOUNT</td>
                                        <td class="text-right">@item.PO_ITEM</td>
                                    </tr>

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8" class="text-center">
                                        No data retrieved.
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
                    <tfoot>
                        <tr>
                            <td class="col-xs-8 listdata">
                                @Html.Partial("_Paging_Detail")
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
