@using GPS.Models.Home
@using GPS.Models.Master
@using GPS.CommonFunc.WebControl
@using GPS.Controllers
@using GPS.Models.ReceivingList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Plant> ListPlant = ViewData["Plant"] != null ? (List<Plant>)ViewData["Plant"] : new List<Plant>();
    List<SLoc> ListSloc = ViewData["Sloc"] != null ? (List<SLoc>)ViewData["Sloc"] : new List<SLoc>();
    List<Division> ListDivision = ViewData["Division"] != null ? (List<Division>)ViewData["Division"] : new List<Division>();
    List<CommonList> ListCoordinator = ViewData["Coordinator"] != null ? (List<CommonList>)ViewData["Coordinator"] : new List<CommonList>();
    List<CommonList> ListUserType = ViewData["UserType"] != null ? (List<CommonList>)ViewData["UserType"] : new List<CommonList>();
    int ApproveEnable = (ViewData["ApproveEnable"] != null ? (bool)ViewData["ApproveEnable"] : false) ? 1 : 0;
}

<link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/datepicker.css")" />
<script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/date-time/bootstrap-datepicker.js")"></script>

<div class="hidden-xs">
    @Html.Partial("_PartialScript")

    <form role="form" class="form-horizontal" id="searchForm" method="post" action="javascript: onGetData(1)">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-12 col-sm-6 col-md-4 control-label text-muted">Receiving No</label>
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <input type="text" id="txtReceivingNumber" class="form-control" />
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-12 col-sm-6 col-md-4 control-label text-muted">
                        Plant
                    </label>
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <select id="txtPlant" class="form-control" onchange="plantChange(this.value)">
                            <option value=""></option>
                            @foreach (Plant plant in ListPlant)
                            {
                                <option value="@plant.PLANT_CD">@plant.PLANT_NAME</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-12 col-sm-6 col-md-4 control-label text-muted">
                        Storage
                    </label>
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <select id="txtSloc" class="form-control">
                            <option value="" plant_cd="all"></option>
                            @foreach (SLoc sloc in ListSloc)
                            {
                                <option value="@sloc.SLOC_CD" plant_cd="@sloc.PLANT_CD">@sloc.SLOC_NAME</option>
                            }
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-12 col-sm-6 col-md-4 control-label text-muted">Header Text</label>
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <input type="text" id="txtHeaderText" class="form-control _mandatory" />
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-12 col-sm-6 col-md-4 control-label text-muted">Division</label>
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <select id="txtDivision" class="form-control">
                            @foreach (Division d in ListDivision)
                            {
                                <option value="@d.Division_ID">@d.Division_NAME</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-12 col-sm-6 col-md-4 control-label text-muted">Coordinator</label>
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <select id="txtCoordinator" class="form-control">
                            <option value=""></option>
                            @foreach (var d in ListCoordinator)
                            {
                                <option value="@d.SYSTEM_CD">@d.SYSTEM_VALUE</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="form-group form-group-xs _criteria">
                    <label class="col-xs-12 col-sm-5 col-md-4 control-label text-muted">
                        Doc Date
                    </label>
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        @Html.DateInputBox("docdate")
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6" style="margin-top: 5px;"></div>
            <div class="col-xs-6 text-right">
                <div class="form-group-xs" style="margin-bottom: 4px;">
                    <button type="submit" class="btn btn-primary btn-xs" onclick="" id="searchBtn">
                        Search
                    </button>
                    <button type="button" class="btn btn-default btn-xs" onclick="onClear()">
                        Clear
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="text-center" style="margin-bottom: 3px;">
        <hr id="hrsrc" style="margin: 0; padding: 0;" />
    </div>
    <div id="divtable">
        @Html.Partial("_Grid")
    </div>
</div>

<div class="visible-xs">
</div>

<div id="detail-container" class="modal fade" style="padding-left: 0px !important; width:100%" ; data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title dettitle popup-title">GR / SA Detail</h4>
            </div>
            <div class="modal-body" id="detailContent">

            </div>
            <div class="modal-footer">
                <div class="col-xs-12 text-right">
                    <div class="form-group-xs">
                        <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="ApproveEnableHid" value="@ApproveEnable" />

<div id="approve-confirm" class="modal fade" style="padding-left: 0px !important; width:100%" ; data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  dettitle popup-title">Approve Confirmation</h4>
            </div>
            <div class="modal-body">
                <span>Are you sure want to approve?</span>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 text-right">
                    <div class="form-group-xs">
                        <button type="button" onclick="doApproveMain()" class="btn btn-primary">OK</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



@section BodyScript{
    <!-- Daterange picker js -->
    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/date-time/moment.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap/js/date-time/daterangepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Common/gps.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Common/tdk.util.js")"></script>
}

<script type="text/javascript">
    function doApprovePopUp() {
         $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("ApproveData")",
                data: {
                    MAT_DOC_NO_LIST: $('#matdocnoPopUp').val(),
                    LAST_CHANGE_LIST: $('#lastUpdatePopUp').val()
                },
                success: function (data) {

                    if (data == 'OK') {
                        $.messagebox.show(
                            "GR Approval",
                            "Approved Successfully",
                            "INF",
                            "SINGLE",
                            "",
                            ""
                        );
                        $('#detail-container').modal('hide');
                        $('#searchBtn').trigger('click');
                    }
                    else {
                        $.messagebox.show(
                            "GR Approval",
                            data,
                            "ERR",
                            "SINGLE",
                            "",
                            ""
                        )
                    }


                }
            });
    }

    function doApproveMain() {
         var id = '';
            var last_change = '';
            $(".grid-checkbox-body").each(function (i, obj) {
                if (obj.id != null && obj.id.length > 0 && obj.checked) {
                    id += $(obj).attr('value') + ';';
                    last_change += $(obj).attr('last_change') + ';';
                }
            });
            $.ajax({
                type: "POST",
                url: "@Html.Toyota().Page.GetActionUrl("ApproveData")",
                data: {
                    MAT_DOC_NO_LIST: id,
                    LAST_CHANGE_LIST : last_change
                },
                success: function (data) {

                    if (data == 'OK') {
                        $.messagebox.show(
                            "GR Approval",
                            "Approved Successfully",
                            "INF",
                            "SINGLE",
                            "",
                            ""
                        );
                        $('#searchBtn').trigger('click');
                        $('#approve-confirm').modal('hide');
                    }
                    else {
                        $.messagebox.show(
                            "GR Approval",
                            data,
                            "ERR",
                            "SINGLE",
                            "",
                            ""
                        )
                    }


                }
            });
    }
</script>