@using GPS.Constants
@using GPS.Models.PO
@using GPS.ViewModels
@model GenericViewModel<PRPOSubItem>

<div style="overflow: auto;">
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th width="85px">Material No</th>
                <th width="215px">Material Description</th>
                <th width="80px">Qty</th>
                <th width="45px">UOM</th>
                <th width="90px">Price</th>
                <th width="90px">Amount</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.DataList.Count > 0)
            {
                foreach (PRPOSubItem item in Model.DataList)
                {
                    <tr data-no="@item.DataNo">
                        <td class="text-center">@item.MatNo</td>
                        <td>@item.MatDesc</td>
                        <td class="text-right">@item.Qty</td>
                        <td class="text-center">@item.UOM</td>
                        <td class="text-center">@item.PricePerUOM</td>
                        <td class="text-center">@item.PriceAmt</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">@CommonDisplayMessage.NoData</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="v-space"></div>
@Html.Partial(CommonPage.GridPagination, Model.GridPaging)
