@using GPS.Models.Master
@{
    List<DataWBSNO> lpr = ViewData["LookWBSClass"] != "" ? (List<DataWBSNO>)ViewData["LookWBSClass"] : new List<DataWBSNO>();
}
<div class="table-responsive">
    <table id="LookUpTable-datawbs" style="width:100%" class="table table-striped table-bordered table-condensed val-lookup-table">
        <thead>
            <tr>
                <th style="width:25%" class="text-center control-label text-muted">WBS No</th>
                <th style="width:60%" class="text-center control-label text-muted">WBS Description</th>
                <th style="width:15%" class="text-center control-label text-muted">WBS Year</th>
            </tr>
        </thead>
        <tbody id="bodylookup-datawbs">
            @if (lpr.Count > 0)
            {
                foreach (DataWBSNO pr in lpr)
                {
                    <tr ondblclick="javascript:MoveDataGridWBSKey('@pr.WBS_NO', '@pr.WBS_NAME', '@pr.WBS_YEAR','@pr.DIVISION_ID', '@pr.DIVISION_DESC')" style="cursor:pointer">
                        <td style="width:25%" class="text-center">@pr.WBS_NO</td>
                        <td style="width:60%">@pr.WBS_NAME</td>
                        <td style="width:15%" class="text-center">@pr.WBS_YEAR</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No Data of WBS Number</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    @Html.Partial("_LookupPagingWBSGrid")
                </td>
            </tr>
        </tfoot>
    </table>
</div>