@using GPS.Models.ReceivingList
@using GPS.CommonFunc
@using GPS.Models
@{
    List<ReceivingListDetail> materialList = (List<ReceivingListDetail>)ViewData["MaterialList"] ?? new List<ReceivingListDetail>();

    string RecNo = "";
    string PoNo = "";
    string HeaderText = "";

    ReceivingListDetail matheader = new ReceivingListDetail();
    if(materialList.Count > 0)
    {
        matheader = materialList.First();
        RecNo = matheader.ReceivingNo;
        PoNo = matheader.PONo;
        HeaderText = matheader.HeaderText;
    }

}
@*Modal popup Preview Material [start] *@
<div id="modal-preview-material" class="modal fade">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title dettitle popup-title" id="popup-title"></h4>
            </div>
            <div class="modal-body" style="padding-top: 0px; margin-top: 6px">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="form-group form-group-xs">
                            <label class="col-xs-4 col-sm-4 col-md-4 control-label text-muted">Receiving No</label>
                            <div class="col-xs-8 col-sm-8 col-md-8">
                                <input type="text" style="width: 100%;" readonly="readonly" disabled="disabled" value="@matheader.ReceivingNo" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="form-group form-group-xs">
                            <label class="col-xs-4 col-sm-4 col-md-4 control-label text-muted">PO No</label>
                            <div class="col-xs-8 col-sm-8 col-md-8">
                                <input type="text" id="det1" style="width: 100%;" readonly="readonly" disabled="disabled" value="@matheader.PONo" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 left">
                        <div class="form-group form-group-xs">
                            <label class="col-xs-4 col-sm-4 col-md-4 control-label text-muted">Header Text</label>
                            <div class="col-xs-8 col-sm-8 col-md-8">
                                <input type="text" id="det2" style="width: 100%;" readonly="readonly" disabled="disabled" value="@matheader.HeaderText" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12" style="margin-top:10px; padding-left:12px">
                    </div>
                </div>
                <div class="row">
                    <div id="tScrollHead" style="width: 98.5%; overflow: hidden; margin-left: 10px;">
                        <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed"
                            style="width: 100%; max-width: 877px !important;">
                            <thead>
                                <tr>
                                    <th width="100px">
                                        Rcv. Item No
                                    </th>
                                    <th width="100px">
                                        Material No
                                    </th>
                                    <th width="240px">
                                        Description
                                    </th>
                                    <th width="80px">
                                        Order Qty
                                    </th>
                                    <th width="80px">
                                        Receive Qty
                                    </th>
                                    <th width="50px">
                                        UoM
                                    </th>
                                    <th width="100px">
                                        Total Receive
                                    </th>
                                    <th width="100px">
                                        PO Item No
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div id="tScrollBody" style="overflow: auto; margin-left: 10px; margin-bottom: 5px;">
                        <table id="tblScroll" class="table table-striped table-bordered table-condensed table-fixed"
                            style="width: 100%; max-width: 877px !important;">
                            <tbody>
                                @{
                                    if (materialList.Count > 0)
                                    {
                                        foreach (ReceivingListDetail item in materialList)
                                        {
                                            <tr>
                                                <td width="100px">@item.ReceivingItemNo
                                                </td>
                                                <td width="100px">@item.MaterialNo
                                                </td>
                                                <td width="240px">@item.MaterialDesc
                                                </td>
                                                <td width="80px" class="text-right">@item.OrderQty.ToStandardFormat()
                                                </td>
                                                <td width="80px" class="text-right">@item.ReceiveQty.ToStandardFormat()
                                                </td>
                                                <td width="50px">@item.UOM
                                                </td>
                                                <td width="100px" class="text-right">@item.TotalReceive.ToStandardFormat()
                                                </td>
                                                <td width="100px" style="text-align:center">@item.POItemNo
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="2" class="text-center">
                                                No data retrieved.
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            <div>
                <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%; ">
                    <tfoot>
                        <tr>
                            <td colspan="13">
                                @Html.Partial("_UIPagingLookup")
                            </td>
                        </tr>

                    </tfoot>
                </table>
                            <div class="row">
                <div class="modal-footer">
                 
             <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal">Close</button>
       
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
@*Modal popup Preview Material [end] *@