@using GPS.Models
@using GPS.Models.Common
@{
    Paging pg = (Paging)ViewData["Paging"];
    int minpage = pg.PositionPage - 2;
    int maxpage = pg.PositionPage + 2;
    }

@if(pg.PositionPage == pg.First || pg.CountData == 0)
    {
        <style>
        #pgFirst 
        {
              pointer-events: none;
        cursor: default;
        color:lightgray;
        }
        #pgPrev
        {
              pointer-events: none;
        cursor: default;
        color:lightgray;
        }
       </style> 
    }
@if(pg.PositionPage == pg.Last )
    {
        <style>
        #pgNext 
        {
                      pointer-events: none;
        cursor: default;
        color:lightgray;
        }
        #pgLast
        {
                      pointer-events: none;
        cursor: default;
        color:lightgray;
        }
       </style> 
    }
    
@if(pg.CountData == 0)
    {
        <style>
        #pgFirst 
        {
              pointer-events: none;
        cursor: default;
        color:lightgray;
        }
        #pgPrev
        {
              pointer-events: none;
        cursor: default;
        color:lightgray;
        }
         #pgNext
        {
              pointer-events: none;
        cursor: default;
        color:lightgray;
        }
         #pgLast
        {
              pointer-events: none;
        cursor: default;
        color:lightgray;
        }
       </style> 
    }

<ul class="pagination pagination-sm " style="margin-top:0;">
    <li>
   @if (@pg.CountData == 1 || @pg.CountData == 0)
   {
        <span class="_pagination-label">Page @pg.PositionPage of @pg.CountPage (@pg.CountData item)</span>
   }
   else
   { 
       <span class="_pagination-label">Page @pg.PositionPage of @pg.CountPage (@pg.CountData items)</span>
   }
                                                                                                           
    </li>
    <li><span><a href="javascript: searchData(@pg.First)" id="pgFirst">First</a> </span></li>
    <li><span><a href="javascript: searchData(@pg.Prev)" id="pgPrev">Prev</a> </span></li>
        @for (int k = 1; k <= @pg.CountPage; k++)
        {
            if ((k >= minpage) && (k <= maxpage))
            {
                if (@k == pg.PositionPage)
                {
                <li class="active">
                    <a href="javascript: searchData(@k)">@k</a>
                </li> 
                }
                else
                {
                <li>
                    <a href="javascript: searchData(@k)">@k</a>
                </li>  
                }
            }
        } 
    <li><span><a href="javascript: searchData(@pg.Next)" id="pgNext">Next</a></span></li>
    <li><span><a href="javascript: searchData(@pg.Last)" id="pgLast">Last</a></span></li>
    <li><span class="_pagination-empty"></span></li>
</ul>